{% extends "base.html" %}
{% load static %}
{% load products_tags %}

{% block modal_basket %}
{% include "includes/basket_button.html" %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="dropdown mb-2">
        <button class="btn btn-secondary dropdown-toggle btn-dark" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
            Фильтры
        </button>

        <form action="{% if request.GET.q%}{% url 'catalog:search' %}{% else %}{% url 'catalog:index' slug_url %}{% endif %}" method="get" class="dropdown-menu bg-dark"
              data-bs-theme="dark">
            <div class="form-check text-white mx-3">
                <input class="form-check-input" type="checkbox" name="with_sale" id="flexCheckDefault" value="on" {% if request.GET.with_sale == 'on' %}checked{% endif %}>
                {% if request.GET.q%}
                <input type="hidden" name="q" value="{{ request.GET.q }}">
                {% endif %}
                <label class="form-check-label" for="flexCheckDefault">
                    Товары по акции
                </label>
            </div>
            <p class="text-white mx-3 mt-3">Сортировать:</p>
            <div class="form-check text-white mx-3">
                <input class="form-check-input" type="radio" name="orderb" id="flexRadioDefault1" value="default"
                       {% if not request.GET.orderb or request.GET.orderb == 'default' %}checked{% endif %}>
                <label class="form-check-label" for="flexRadioDefault1">
                    По умолчанию
                </label>
            </div>
            <div class="form-check text-white mx-3">
                <input class="form-check-input" type="radio" name="orderb" id="flexRadioDefault2" value="price"
                       {% if request.GET.orderb == 'price' %}checked{% endif %}>
                <label class="form-check-label" for="flexRadioDefault2">
                    От дешевых к дорогим
                </label>
            </div>
            <div class="form-check text-white mx-3">
                <input class="form-check-input" type="radio" name="orderb" id="flexRadioDefault3" value="-price"
                       {% if request.GET.orderb == '-price' %}checked{% endif %}>
                <label class="form-check-label" for="flexRadioDefault3">
                    От дорогих к дешевым
                </label>
            </div>
            <button type="submit" class="btn btn-primary mx-3 mt-3">Применить</button>
        </form>
    </div>

    {% if request.GET.q %}
    <h2 class="mt-4">Результаты запроса по поиску {{ request.GET.q }}</h2>
        {% if not products %}
            <link rel="stylesheet" href="{% static 'deps/css/my_footer_css.css' %}">
            <h3 class="mt-4">По запросу {{ request.GET.q }} ничего не найдено</h3>
        {% endif %}
    {% endif %}
    {% for val in products %}
    <div class="col-lg-4 col-md-6 p-4">
        <div class="card border-secondary rounded">
            {% if val.image %}
            <img src="{{ val.image.url }}" class="card-img-top" alt="{{ val.name }}">
            {% else %}
            <img src="{% static 'deps/images/Not found image.png' %}" class="card-img-top" alt="...">
            {% endif %}
            <div class="card-body">
                <a href="{% url 'catalog:product' val.slug %}">
                    <p class="card-title">
                        {% autoescape off %}
                        {% if val.headline %}
                        {{ val.headline }}
                        {% else %}
                        {{ val.name }}
                        {% endif %}
                        {% endautoescape %}
                    </p>
                </a>
                <p class="card-text text-truncate">
                    {% autoescape off %}
                        {% if val.bodyline|truncatechars:50%}
                        {{ val.bodyline }}
                        {% else %}
                        {{ val.description|truncatechars:50 }}
                        {% endif %}
                        {% endautoescape %}
                </p>
                <p class="product_id">id товара: {{ val.display_id }}</p>
                <div class="d-flex justify-content-between">
                    {% if val.discount %}
                    <p><s>{{ val.price }}</s> руб.</p>
                    <p><strong>{{ val.selling_price }} руб.</strong></p>
                    <span class="badge bg-warning text-dark">Скидка {{ val.discount }} %</span>
                    {% else %}
                    <p><strong>{{ val.price }} руб.</strong></p>
                    {% endif %}
                    <a href="{% url 'basket:basket_add' %}" class="btn add-to-basket"
                    data-product-id="{{ val.id }}">
                        {% csrf_token %}
                        <img class="mx-1" src="{% static 'deps/icons/cart-plus.svg' %}" alt="Catalog Icon"
                             width="32" height="32">
                    </a>
                    <link rel="stylesheet" href="{% static 'deps/css/my_footer_css.css' %}">
                </div>
            </div>
        </div>
    </div>
    {% endfor %}


</div>
<!-- Пагинация -->

{% if products %}
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center my-4">
        <div class="border-secondary d-flex">
            <li class="page-item {% if not products.has_previous %}disabled{% endif %}">
                <a class="page-link" href="{% if products.has_previous %}?{% change_params page=products.previous_page_number %}{% else %}#{% endif %}">Назад</a>
            </li>

            {% for page in products.paginator.page_range %}
            {% if page >= products.number|add:-2 and page <= products.number|add:2 %}
            <li class="page-item {% if products.number == page %}active{% endif %}">
                <a class="page-link" href="?{% change_params page=page %}">{{ page }}</a>
            </li>
            {% endif %}
            {% endfor %}

            <li class="page-item {% if not products.has_next %}disabled{% endif %}">
                <a class="page-link" href="{% if products.has_next %}?{% change_params page=products.next_page_number %}{% else %}#{% endif %}">Вперед</a>
            </li>
        </div>
    </ul>
</nav>
{% endif %}
{% endblock %}

{% block footer %}
<footer class="py-4 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">digddovalny &copy; Магазин игрушек</p>
    </div>
</footer>
{% endblock %}